body {
  background: #E89BB0;
}

.main {
  display: grid;
  height: 100vh;
  width: auto;
  animation: loading 0.5s linear;
}

@keyframes loading {
  from {
    scale: 0;
    -webkit-transform: scale(0);
  }

  to {
    scale: 1;
    -webkit-transform: scale(1);
  }
}

@media only screen and ( min-width: 768px ) {
  .canvas {
    width: 100vw;
    height: 100vh;
    padding: 20px 10px;
  }
}

